<div class="product-media col-span-full {{ media_desktop_width }}">
          {% liquid
            assign sizes = '(min-width: 990px) 50vw, 100vw'
            assign shape_id = section.id
          %}
          {%- render 'collection-shape-defs',
            shape: section.settings.image_shape,
            section_id: shape_id,
            item_count: product.media.size
          -%}
          {% if product.media.size == 1 %}
            {% liquid
              assign first_media = featured_media
            %}
            <div class="px-section lg:px-0">
              <div
                {% if first_media.media_type == 'image' and section.settings.enable_image_zoom %}
                  class="cursor-zoom-in"
                data-product-media-type-image data-product-image-index="0"
                {% assign image_index = image_index | plus: 1 %}
                {% endif %}
              >
                <div {% if section.settings.enable_image_zoom %}
                  @click.prevent="openZoom(0)" @keyup.space.prevent="openZoom(0)" @keyup.enter.prevent="openZoom(0)" tabindex="0" role="button"
                {% endif %}>

                  {%- if is_feature -%}
                  <a href="{{ product.url }}">
                  {%- endif -%}
                  {% render 'media',
                    media: first_media,
                    shape_id: shape_id,
                    sizes: sizes,
                    crop: section.settings.crop,
                    image_shape: section.settings.image_shape,
                    loading: 'eager',
                    index: forloop.index0
                  %}
                  {%- if is_feature -%}
                  </a>
                  {%- endif -%}
                </div>
              </div>
            </div>
          {% elsif product.media.size > 1 %}
            <div class="col-span-6">
              <div class="grid grid-cols-1 lg:grid-cols-12 gap-5 relative">

                {% unless is_feature %}
                <div class="{% if section.settings.thumbnails_position == 'left' %}{% if section.settings.thumbnail_size == 'standard' %}col-span-2{% else %}col-span-3{% endif %}{% else %}col-span-full{% endif %} lg:block hidden">
                  
                  {%- assign thumbnails_id = 'thumbnails-' | append: section.id -%}
                  {%- render 'collection-shape-defs',
                    shape: section.settings.thumbnail_shape,
                    section_id: thumbnails_id,
                    item_count: product.media.size
                  -%}

                  {%- if section.settings.thumbnails_position == 'left' -%}
                  <div class="thumbnails-container">
                    <div
                      id="slideshow-thumbnails-{{ section.id }}"
                      class="splide splide--thumbnails"
                      x-data="productThumbnails()"
                      x-init="mounted()"
                    >
                      <div class="splide__track h-full">
                        <div
                          class="thumbnails-overflow-indicator-top z-[2] absolute top-0 left-0 right-0 bg-gradient-to-b from-scheme-background to-transparent w-full h-24 pointer-events-none transition-opacity duration-150"
                          :class="{ 'opacity-0' : firstVisible }"
                        ></div>
                  {%- endif -%}
                      <ul class="w-full {% if section.settings.thumbnails_position == 'left' %}splide__list h-full{% else %}grid {% if section.settings.thumbnail_size == 'standard' %}grid-cols-5{% else %}grid-cols-4{% endif %} {% endif %} gap-2.5">
                        {% comment %} theme-check-disable LiquidTag {% endcomment %}
                        {%- assign thumbnail_index = 0 -%}
                        {%- if featured_media != null -%}
                          {%- render 'product-thumbnail',
                            media: featured_media,
                            section: section,
                            thumbnails_id: thumbnails_id,
                            index: thumbnail_index,
                            featured_media: featured_media
                          -%}
                          {%- assign thumbnail_index = thumbnail_index | plus: 1 -%}
                        {%- endif -%}
                        {% for media in product.media %}
                          {%- unless media.id == featured_media.id -%}
                          {%- render 'product-thumbnail',
                            media: media,
                            section: section,
                            thumbnails_id: thumbnails_id,
                            forloop: forloop,
                            index: thumbnail_index,
                            featured_media: featured_media
                          -%}
                          {%- assign thumbnail_index = thumbnail_index | plus: 1 -%}
                          {%- endunless -%}
                          {% assign mediaCount = forloop.index0 %}
                        {% endfor %}

                        {% comment %} theme-check-enable LiquidTag {% endcomment %}
                      </ul>
                  {%- if section.settings.thumbnails_position == 'left' -%}
                      <div
                        class="thumbnails-overflow-indicator-bottom z-[2] absolute bottom-0 left-0 right-0 bg-gradient-to-t from-scheme-background to-transparent w-full h-24 pointer-events-none transition-opacity duration-150"
                        :class="{ 'opacity-0' : lastVisible }"
                      ></div>
                      </div>
                    </div>
                  </div>
                  {%- endif -%}
                </div>
                {%- endunless -%}

              <div class="rdc-media-dots">
            {% assign mediaCount = mediaCount | plus: 1 %}
                  {% for i in (1..mediaCount) %}     
                    <span class="rdc-media-dot {% if forloop.index0 == 0 %}rdc-active{% endif %}"></span>
                    {% endfor %}
                  </div>
                <div class="{% if section.settings.thumbnails_position == 'left' %}{% if section.settings.thumbnail_size == 'standard' %}lg:col-span-10 lg:col-start-3{% else %}lg:col-span-9 lg:col-start-4{% endif %}{% else %}row-start-1  col-span-full{% endif %} min-w-[0] rdc-p-relative rdc-media-main-container">
                  <div
                    id="slideshow-{{ section.id }}"
                    class="{% unless is_feature %}splide splide--product{% endunless %}"
                    data-drag-disabled="{{ has_interactive_media }}"
                    data-first-media="{{ first_media.id }}"
                    {% if section.settings.thumbnails_position == 'left' %}
                    data-thumbnails="slideshow-thumbnails-{{ section.id }}"
                    {% endif %}
                    {% if section.settings.media_mobile_width == 'w-4/5' %}
                    data-two-slides-visible-on-mobile
                    {% endif %}
                    >
                    <div class="{% unless is_feature %}splide__track{% endunless %}">
                      <ul class="feature-media-list w-full{% unless is_feature %} splide__list {% endunless %} {% if is_feature %}relative grid{% else %} lg:relative lg:grid{% endif %}" role="list">
                        {%- assign media_index = 0 -%}
                        {%- if featured_media != null -%}
                          {% liquid
                            assign loading = 'eager'
                            if section.settings.image_shape == 'blob'
                              assign shape_id = section.id | append: '-' | append: media_index
                            endif 
                          %}
                          <li
                            class="rdc-m-p-0 {% unless is_feature %}max-lg:!block{% endunless %} feature-media-item block {{ section.settings.media_mobile_width }} lg:w-full splide__slide px-section lg:px-0 {% if is_feature %}col-start-1 row-start-1{% endif %} {% if section.settings.enable_image_zoom and media.media_type == 'image' %}cursor-zoom-in{% endif %}"
                            data-media-id="{{ media.id }}"
                            x-transition.opacity.duration.200ms
                            x-show="current_media_id === {{ featured_media.id }}"
                            {% if is_feature and media.id != featured_media.id %}
                             x-cloak
                            {% endif %}
                            {% if media.media_type == 'image' %}
                            data-product-media-type-image data-product-image-index="{{ image_index }}"
                            {% assign image_index = image_index | plus: 1 %}
                            {% endif %}
                          >
                            <div {% if section.settings.enable_image_zoom %}
                              @click.prevent="openZoom({{ image_index }})" @keyup.space.prevent="openZoom({{ image_index }})" @keyup.enter.prevent="openZoom({{ image_index }})" tabindex="0" role="button"
                            {% endif %}>
                              {%- if is_feature -%}
                              <a href="{{ product.url }}">
                              {%- endif -%}
                              {% render 'media',
                                media: featured_media,
                                shape_id: shape_id,
                                sizes: sizes,
                                loading: loading,
                                crop: section.settings.crop,
                                image_shape: section.settings.image_shape,
                                index: media_index
                              %}
                              {%- if is_feature -%}
                              </a>
                              {%- endif -%}
                              {%- assign media_index = media_index | plus: 1 %}
                            </div>
                          </li>
                        {%- endif -%}
                        
                        {% for media in product.media %}
                          {%- unless media.id == featured_media.id -%}
                          {% liquid
                            if media.id == featured_media.id
                              assign loading = 'eager'
                            else
                              assign loading = 'lazy'
                            endif
                            if section.settings.image_shape == 'blob'
                              assign shape_id = section.id | append: '-' | append: forloop.index0
                            endif 
                          %}
                          <li
                            class="{% unless is_feature %}max-lg:!block{% endunless %} feature-media-item block {{ section.settings.media_mobile_width }} lg:w-full splide__slide rdc-m-p-0 px-section lg:px-0 {% if is_feature %}col-start-1 row-start-1{% endif %} {% if section.settings.enable_image_zoom and media.media_type == 'image' %}cursor-zoom-in{% endif %}"
                            data-media-id="{{ media.id }}"
                            x-transition.opacity.duration.200ms
                            x-show="current_media_id === {{ media.id }}"
                            {% if is_feature and media.id != featured_media.id %}
                             x-cloak
                            {% endif %}
                            {% if media.media_type == 'image' %}
                            data-product-media-type-image data-product-image-index="{{ image_index }}"
                            {% assign image_index = image_index | plus: 1 %}
                            {% endif %}
                          >
                            <div {% if section.settings.enable_image_zoom %}
                              @click.prevent="openZoom({{ image_index }})" @keyup.space.prevent="openZoom({{ image_index }})" @keyup.enter.prevent="openZoom({{ image_index }})" tabindex="0" role="button"
                            {% endif %}>
                              {%- if is_feature -%}
                              <a href="{{ product.url }}">
                              {%- endif -%}
                              {% render 'media',
                                media: media,
                                shape_id: shape_id,
                                sizes: sizes,
                                loading: loading,
                                crop: section.settings.crop,
                                image_shape: section.settings.image_shape,
                                index: media_index
                              %}
                              {%- if is_feature -%}
                              </a>
                              {%- endif -%}
                            </div>
                          </li>
                          {%- assign media_index = media_index | plus: 1 %}
                          {%- endunless -%}
                        {% endfor %}
                      </ul>
                    </div>
                    {% assign first_3d_model = product.media | where: 'media_type', 'model' | first %}
                    {%- if first_3d_model -%}
                      <div class="px-section mt-2.5 lg:mb-0">
                        <button
                          aria-label="{{ 'products.media.view_in_your_space_label' | t }}"
                          class="push-btn w-full"
                          data-shopify-xr
                          data-shopify-model3d-id="{{ first_3d_model.id }}"
                          data-shopify-title="{{ product.title }}"
                          data-shopify-xr-hidden
                        >
                          <span class="push-btn-surface w-full inline-block">
                            <span class="inline-block w-6 -mt-0.5 align-middle">
                              {% render 'icon-model' %}
                            </span>
                            <span class="text-sm">{{ 'products.media.view_in_your_space' | t }}</span>
                          </span>
                        </button>
                      </div>
                    {%- endif -%}
                    {% unless is_feature %}
                    <div class="splide__arrows rdc-d-none px-section flex items-center justify-end gap-2 mt-4 lg:hidden">
                      {%- render 'splide-navigation' -%}
                    </div>
                    {%- if section.settings.show_slideshow_arrows_on_desktop -%}
                    <div class="splide__arrows flex items-center justify-end gap-2 mt-4 hidden lg:block text-right">
                      <div class="inline-block controls relative z-10 ml-auto {% if settings.button_shadow_direction contains 'top' %}pt-button-shadow{% else %}pb-button-shadow{% endif %}">
                        <div class="flex gap-2">
                          <button class="push-btn"
                            @click="changeMedia('prev')"
                            @keydown.space="changeMedia('prev')"
                            @keydown.left.prevent="changeMedia('prev')"
                            @keydown.enter="changeMedia('prev')">
                            <span class="sr-only">{{ 'sections.slideshow.previous_slide' | t }}</span>
                            <span class="push-btn-surface align-bottom p-2">
                              <span class="block w-5 h-5">{% render 'icon-previous' %}</span>
                            </span>
                          </button>
                          <button class="push-btn"
                            @click="changeMedia('next')"
                            @keydown.space="changeMedia('next')"
                            @keydown.right.prevent="changeMedia('next')"
                            @keydown.enter="changeMedia('next')">
                            <span class="sr-only">{{ 'sections.slideshow.next_slide' | t }}</span>
                            <span class="push-btn-surface align-bottom p-2">
                              <span class="block w-5 h-5">{% render 'icon-next' %}</span>
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                    {%- endif -%}
                    {% endunless %}
                    {% unless request.design_mode %}
                      <script src="{{ 'modules-slideshow.bundle.min.js' | asset_url }}" type="module"></script>
                    {% endunless %}
                    {{ 'modules-slideshow.bundle.css' | asset_url | stylesheet_tag }}
                  </div>
                  {% if product.metafields.info.image_benefit != blank %}
                  <span class="br-img-benefit rdc-p-absolute">{{ product.metafields.info.image_benefit }}</span>
                    {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        </div>